*.pyc
/import/CodeMirror/test
import/CodeMirror/css/*
!import/CodeMirror/css/docs.css
/import/CodeMirror/demo
/import/skulpt/test
/import/skulpt/.hg
/import/skulpt/doc
/import/skulpt/example
!import/skulpt/support/closure-library/closure/goog/*.js
/import/jquery/jquery-spin.js
/import/jquery/jquery-spin.js
/.idea

/Config.js
