<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
		<script type="text/javascript" src="import/jquery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="import/jquery/jquery.inherit-1.3.2.M.js"></script> 
		<script type="text/javascript" src="import/jquery/jquery.json-2.2.js"></script> 
		<script type="text/javascript" src="import/jquery/jquery-ui-1.8.18.custom.min.js"></script> 
		<script type="text/javascript" src="import/jquery/jquery-spin.js"></script> 
		<script type="text/javascript" src="import/jquery/ui.tabs.paging.js"></script> 
		<script type="text/javascript" src="import/jquery/jquery.tmpl.js"></script>
		<script type="text/javascript" src="import/jquery/jquery.jstree.js"></script>
		<script type="text/javascript" src="import/jquery/jquery.cookie.js"></script>
		<script type="text/javascript" src="import/skulpt/support/closure-library/closure/goog/base.js"></script>
		<script type="text/javascript" src="import/skulpt/support/closure-library/closure/goog/deps.js"></script>
		<script type="text/javascript" src="import/skulpt/support/closure-library/closure/goog/string/string.js"></script>
		<script type="text/javascript" src="import/skulpt/support/closure-library/closure/goog/debug/error.js"></script>
		<script type="text/javascript" src="import/skulpt/support/closure-library/closure/goog/asserts/asserts.js"></script>
		<script type="text/javascript" src="import/skulpt/src/env.js"></script>
		<script type="text/javascript" src="import/skulpt/src/builtin.js"></script>
		<script type="text/javascript" src="import/skulpt/src/errors.js"></script>
		<script type="text/javascript" src="import/skulpt/src/type.js"></script>
		<script type="text/javascript" src="import/skulpt/src/object.js"></script>
		<script type="text/javascript" src="import/skulpt/src/function.js"></script>
		<script type="text/javascript" src="import/skulpt/src/method.js"></script>
		<script type="text/javascript" src="import/skulpt/src/misceval.js"></script>
		<script type="text/javascript" src="import/skulpt/src/abstract.js"></script>
		<script type="text/javascript" src="import/skulpt/src/mergesort.js"></script>
		<script type="text/javascript" src="import/skulpt/src/list.js"></script>
		<script type="text/javascript" src="import/skulpt/src/str.js"></script>
		<script type="text/javascript" src="import/skulpt/src/tuple.js"></script>
		<script type="text/javascript" src="import/skulpt/src/dict.js"></script>
		<script type="text/javascript" src="import/skulpt/src/long.js"></script>
		<script type="text/javascript" src="import/skulpt/src/int.js"></script>
		<script type="text/javascript" src="import/skulpt/src/float.js"></script>
		<script type="text/javascript" src="import/skulpt/src/slice.js"></script>
		<script type="text/javascript" src="import/skulpt/src/set.js"></script>
		<script type="text/javascript" src="import/skulpt/src/module.js"></script>
		<script type="text/javascript" src="import/skulpt/src/generator.js"></script>
		<script type="text/javascript" src="import/skulpt/src/file.js"></script>
		<script type="text/javascript" src="import/skulpt/src/ffi.js"></script>
		<script type="text/javascript" src="import/skulpt/src/tokenize.js"></script>
		<script type="text/javascript" src="import/skulpt/gen/parse_tables.js"></script>
		<script type="text/javascript" src="import/skulpt/src/parser.js"></script>
		<script type="text/javascript" src="import/skulpt/gen/astnodes.js"></script>
		<script type="text/javascript" src="import/skulpt/src/ast.js"></script>
		<script type="text/javascript" src="import/skulpt/src/symtable.js"></script>
		<script type="text/javascript" src="import/skulpt/src/compile.js"></script>
		<script type="text/javascript" src="import/skulpt/src/import.js"></script>
		<script type="text/javascript" src="import/skulpt/src/builtindict.js"></script>
		<script type="text/javascript" src="import/CodeMirror/lib/codemirror.js"></script>
        <script type="text/javascript" src="import/CodeMirror/mode/python/python.js"></script>
		<script type="text/javascript" src="declaration.js"></script>
		<script type="text/javascript" src="classes.js"></script>
		<script type="text/javascript" src="showMessages.js"></script>
		<script type="text/javascript" src="generatedTests.js"></script>
		<script type="text/javascript" src="Misc.js"></script>
		<script type="text/javascript" src="functions.js"></script>
		<script type="text/javascript" src="WorkWithJSTree.js"></script>
		<script type="text/javascript" src="WorkWithSkulpt.js"></script>
		<script type="text/javascript" src="Problems.js"></script>
		<script type="text/javascript" src="interface.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
		<link rel="stylesheet" type="text/css" href="styles/jquery-ui-1.8.12.custom.css">
		<link rel="stylesheet" href="import/CodeMirror/lib/codemirror.css">
		<link rel="stylesheet" href="import/CodeMirror/theme/default.css">
	<style type="text/css">
		.CodeMirror-gutter {
			width: 3em;
			background: white;
		}
		.CodeMirror {
			border: 1px solid #aaa;
		}
	</style>

<script id = "commandsListTemplate" type="text/x-jquery-tmpl">
	<td>
		<div id = "${divclass}${tab}" class = "${divclass} jstree-draggable" type = "${divclass}" rel = "${divclass}" title = "${divname}">
		</div>
	</td>
</script>

<script id = "toolbarButtonsTemplate" type="text/x-jquery-tmpl">
	<button id = "btn_${btn}${tab}" name = "${btn}" title = "${title}">${btn}</button>
</script>
	
<script id = "tabTemplate" type="text/x-jquery-tmpl">
	<table width = "100%">	
		<tr>
			<td colspan = "4">
				<div id = "title${tab}">
					<b>{{html $item.data.title}}</b>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan = "4">
				<div style = "border-style: dotted; border-color: #5F8EAD; border-width: 2px; min-height:16px">
					<button id = "hideStatement${tab}" style = "float:right;"></button>
					<div id = "statement${tab}">
						{{html $item.data.statement}}
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td valign = "top" style = "height: 100%">
				<div style = "border-style: dotted; border-color: #5F8EAD; border-width: 2px; height: 100%">
					<table>
						<tr>
							<td colspan = "2">	
								<form>
									<input type = "radio" name = "group${tab}" id = "commandsMode${tab}" checked>Исполнитель
									<input type = "radio" name = "group${tab}" id = "codeMode${tab}" >Python
								</form>
							</td>
						</tr>
						<tr>
							<td id = "tdcommands${tab}">
								<div class = "ul_commands" id = "ulCommands${tab}">
									<table>
										<tr>
											{{tmpl($item.data.commands) "#commandsListTemplate"}}
										</tr>
									</table>
								</div>
							</td>
							<td id = "tdcode${tab}">
								<div id = "resizable${tab}">
									<textarea id = "codearea${tab}" name = "codearea${tab}" class = "codearea"></textarea>
								</div>
							</td>
						</tr>
						<tr>
							<td id = "tdcontainer${tab}">
								<table width = "100%">
									<tr>
										<td>
											<div id = "jstree-container${tab}" class = "sortable">
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class = "jstree-drop recycle-bin">
											</div>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<button id = "addWatch${tab}">Добавить наблюдение</button><br>
								<table id = "watchTable${tab}" style = "background-color: #eeeeee; width: 400px"></table>
							</td>
						</tr>
						<tr>
							<td>
								<button id = "btn_clear${tab}">Очистить список команд</button>
								<button id = "submit${tab}">Отправить решение</button>
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td valign = "top" style = "height: 100%">
				<div style = "border-style: dotted; border-color: #5F8EAD; border-width: 2px; height: 100%">
					<table width = "100%">
						<tr>
							<td>
								Скорость исполнителя
								<div id = "slider${tab}" style = "max-width: 270px;margin-left:5px;">
								</div>
								<br>
							</td>
						</tr>
						<tr>
							<td width = "100%">
								<div class="ui-widget-header ui-corner-all" style = "padding: 10px 4px; max-width: 270px">
									<span>
										{{tmpl($item.data.btns) "#toolbarButtonsTemplate"}}
										{{if $item.data.maxCmdNum || $item.data.maxStep}}
											<div id = "progressBar${tab}"></div>
											<span>Затрачено {{if $item.data.maxCmdNum}} команд {{else}} шагов {{/if}}:</span>
											<span id = "curStep${tab}">0</span>
											из {{if $item.data.maxCmdNum}} ${maxCmdNum} {{else}} ${maxStep} {{/if}}
										{{/if}}
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<td id = "tdField${tab}"></td>
						</tr>
					</table>
				</div>
			</td>
			<td valign = "top" style = "width:250px; height: 100%">
				<div style = "border-style: dotted; border-color: #5F8EAD; border-width: 2px; height: 100%">
					<table style='width: 250px; float: right'>
						<tr>
							<td> 
								<pre id = "cons${tab}" class = "cons">
								</pre>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>				
</script>
</head>
<body>
	<div id = "tabs">
		<ul>
		</ul>
	</div>
	<div id = "about" style="display: none">
		<div id="accordion">
			<h3><a href="#">О системе</a></h3>
			<div>
				<p>
				Система разработана для проведения соревнований по информатике среди школьников младших классов.<br>
				Перед участниками стоит задача набрать наибольшее количество очков, управляя передвижением 
				стрелочки по лабиринту и собирая бонусы на поле. <br>
				</p>
			</div>
			<h3><a href="#">Редактирование списка команд</a></h3>
			<div>
				<p>
				Для добавления выбранной команды, нужно перетащить ее из списка допустимых команд в поле 
				ввода команд на желаемую позицию.<br>
				Двойной щелчок левой кнопки мыши по команде добавляет ее в конец списка команд.<br>
				Количество повторений команды меняется нажатием на кнопку увеличения/уменьшения счетчика.<br>
				Команда удаляется из списка, если ее вынести за границы списка команд.<br>
				Также весь список очищает кнопка очистки списка команд.<br>
				</p>
			</div>
			<h3><a href="#">Проигрывание команд</a></h3>
			<div>
				<p>
				Кнопки проигрывания, паузы, остановки, перехода к следующей/предыдущей команде, перехода к 
				последней команде делают то, что непосредственно соедует из названия.
				</p>
			</div>
			<h3><a href="#">Описание лабиринта</a></h3>
			<div>
				<ul>
					<li><b>Стрелочка</b> - бегает по лабиринту и собирает бонусы</li>
					<li><b>Звездочка</b> - бонус, за него участник получает очки</li>
					<li><b>Ящик</b> может быть перемещен в лабиринте по направленю движения героя, если этому 
					не мешают другие объекты (стена, монстр, дверь)</li>
					<li><b>Дверь</b> - элемент, через который не может пройти ни один элемент лабиринта</li>
					<li><b>Ключ</b> открывает ближайшую дверь </li>
					<li><b>Монстр</b> перемещается в лабиринте по заданной траектории, его передвижение может 
					быть блокировано ящиком. Если стрелочка попадает в одну клетку с монстром, считается, 
					что игрок проиграл. Продолжить решение задачи можно, нажав на кнопку остановки решения </li>
				</ul>
			</div>
			<h3><a href="#">Отправка решения</a></h3>
			<div>
				<p>
				Если участник считает, что решил задачу, он должен выбрать свое имя из списка пользователей 
				на первой вкладке, после этого нажать на кнопку отправки решения. Результаты тестирования 
				через некоторое время будут доступны во вкладке "Результаты". Таблица не обновляется автоматически, 
				для ее обновления нужно нажать соответсвующую кнопку на вкладке с результатами.
				Количество попыток не ограничено.
				</p>
			</div>
		</div>
	</div>
	<div id="enterPassword" title="Введите пароль" style="display: none">
		<fieldset>
			<label for="password">Пароль</label>
			<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
		</fieldset>
	</div>
	<div id="changeContest" title="Выберите турнир" style = 'display: none;'>
		<div id = "contestsList">
		</div>
	</div>
	<div id="addWatchDialog" style="display: none;">
		<label for="name">Выражение</label>
		<input type="text" name="name" id="watchName" class="text ui-widget-content ui-corner-all" />
	</div>
</body>
</html>
