#TableHanoi { width: 100%; }

#TableHanoi p { margin: 0; height: 25px; }

#TableHanoi .name { text-align: center; font-weight: bold; padding-bottom: 3px; }

#TableHanoi .pole {
    background: linear-gradient(to right, white 42%, #ffa500 42%, #ffa500 58%, white 58%, white);
}
#TableHanoi .pole-top {
    background: radial-gradient(16% 50% at 50% 100%, #ffa500 50%, transparent 51%);
    margin: 0 auto;
}

#TableHanoi .pole div { margin: 0 auto; height: 95%; border-radius: 25px; }

#TableHanoi .base { background: #ffa500; height: 20px; }
