BODY{
	font-family:'Times New Roman';
	font-size: 16px;
}
table.field{
	border-width:0px; 
	border-spacing: 0px
}
table.results, iframe.results{
	width: 100%;
	height: 100%;
}
input.pnts{
	width: 25px;
}
input.cnt{
	width: 30px; 
	height: 21px; 
	background-color: rgb(255, 255, 255); 
	margin-right: 0px; 
	padding-right: 0px; 
	padding-top: 0px; 
	border-width: 1px; 
	padding-bottom: 0px; 
	top: 0px; 
	left: 0px; 
	z-index: 100;
}
span.cnt{
	width: 60px; 
	height: 21px; 
	float: right;
	padding: 0px; 
	top: 0px; 
	position: inherit;
	z-index: 2;
}
li.invisible{
	width: 1px;
	height: 1px; 
	z-index: 0;
	list-style-type: none; 
}
li.forward, li.forward1, li.left, li.left1, li.right, li.right1, li.wait, li.wait1{
	list-style-type: none; 
	margin: 5px; 
	padding: 5px;
	width: 180px; 
	height: 25px;
	border: 1px solid #ffffff;
	color: #363636; 
	z-index: 1;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 6px;
}
li.forward{ background: #A9A9A9 url('../images/forward.png') 5% 95% no-repeat; }
li.forward1{ background: #1CB2B3 url('../images/forward.png') 5% 95% no-repeat; }
li.left{	background: #A9A9A9 url('../images/left.png') 5% 95% no-repeat; }
li.right{ background: #A9A9A9 url('../images/right.png') 5% 95% no-repeat; }
li.left1{ background: #1CB2B3 url('../images/left.png') 5% 95% no-repeat;}
li.right1{ background: #1CB2B3 url('../images/right.png') 5% 95% no-repeat; }
li.wait{ background: #A9A9A9 url('../images/wait.png') 5% 95% no-repeat; }
li.wait1{ background: #1CB2B3 url('../images/wait.png') 5% 95% no-repeat; }
ul.ul_comands{
	padding: 0px;
	margin: 0px;
}
ul.sortable{
	width: 220px;
	margin-left: 0px;
	padding-left: 0px;
	padding: 0px;
	border: 2px #A9A9A9 double;
	height: 400px;
	overflow: auto;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 6px;
}
td.wall, td.floor, td.highlightFloor, td.highlightWall{
	width: 30px;
	height: 30px;
	border: 0px;
	margin: 0px; 
	padding: 0px;
	border-spacing: 0px;
}
td.wall{ background-image: url('../images/wall.jpg'); }
td.floor{ background-image: url('../images/floor.jpg'); }
td.highlightWall{ background-image: url('../images/wall__.jpg'); }
td.highlightFloor{ background-image: url('../images/floor__.jpg'); }
div.key, div.lock, div.up, div.down, div.highlightedLock, div.left, div.right, div.star, div.BigStar, div.MiddleStar, div.box, div.monster{	
	width: 100%;
	height: 100%;
	z-index: 2;
}
div.key{ background: url('../images/key.png') 50% 50% no-repeat; }
div.lock{ background: url('../images/lock.png') 50% 50% no-repeat; }
div.highlightedLock{ background: url('../images/highlightedLock.png') 50% 50% no-repeat; }
div.up{ background: url('../images/hero_up.png') 50% 50% no-repeat; }
div.down{ background: url('../images/hero_down.png') 50% 50% no-repeat; }
div.left{ background: url('../images/hero_left.png') 50% 50% no-repeat; }
div.right{ background: url('../images/hero_right.png') 50% 50% no-repeat; }
div.star{ background: url('../images/StarAqua.png') 50% 50% no-repeat; }
div.BigStar{ background: url('../images/BigStar.png') 50% 50% no-repeat; }
div.MiddleStar{ background: url('../images/MiddleStar.png') 50% 50% no-repeat; }
div.box{	background: url('../images/box.png') 50% 50% no-repeat; }
div.monster{	background: url('../images/SeaMonster.png') 50% 50% no-repeat; }
input.play, input.stop, input.pause, input.prev, input.next, input.fast, input.clear{
	border:medium none;
	margin:0;
	padding:0 0 4px;
	width: 36;
	height: 36;
}
input.play{ background: url('../images/play.png'); }
input.stop{ background: url('../images/stop.png'); }
input.pause{ background: url('../images/pause.png'); }
input.prev{ background: url('../images/prev.png'); }
input.next{ background: url('../images/next.png'); }
input.fast{ background: url('../images/fast.png'); }
input.clear{ background: url('../images/clear.png'); }
input.submit{
	background: url('../images/submit.png'); 
	width: 190;
	height: 36;
	margin-left:5px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 6px;
}
input.userNameSubmit, input.changeUser{
	width: 208;
	height: 36;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 6px;
}
input.userNameSubmit{ 	background: url('../images/submitUser.png'); }
input.changeUser{ 	background: url('../images/changeUser.png'); }
textarea.cons{
	background-color: #FFFFFF; 
	left: 0px; 
	width: 250px;
	font-size:11pt;
	margin-left:5px;
	height: 500 px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 6px;
}
input.spinCnt{
	font-family:'Times New Roman';
	font-size: 1.1em;
	width: 60px; height: 21px; 
	background-color: 
	rgb(255, 255, 255); 
	margin-right: 0px; 
	padding-right: 0px; 
	padding-top: 0px; 
	border-width: 1px; 
	padding-bottom: 0px; 
	top: 0px; left: 0px; 
	display:none; 
	position: inherit;
	z-index: 1;
}
.tabs:after { 
   display: block; 
   clear: both; 
   content: " "; 
}
.ui-tabs-paging-next { 
   float: right !important;
}
.ui-tabs-hide { 
	display: none; 
	background-color: #fff 
}
.ui-tabs-paging-disabled {
	visibility: hidden;
}
.ui-tabs-paging-next, 
.ui-tabs-paging-prev{
	background: transparent !important;
	border: 0 !important;
}
