BODY{
	font-family:'Times New Roman';
	font-size: 16px;
}
table.field{
	border-width:0px; 
	border-spacing: 0px
}
table.results, iframe.results{
	width: 100%;
	height: 100%;
}
input.pnts{
	width: 25px;
}
input.cnt{
	width: 30px; 
	height: 21px; 
	background-color: rgb(255, 255, 255); 
	margin-right: 0px; 
	padding-right: 0px; 
	padding-top: 0px; 
	border-width: 1px; 
	padding-bottom: 0px; 
	top: 0px; 
	left: 0px; 
	z-index: 100;
}
span.cnt{
	width: 60px; 
	height: 21px; 
	padding-left: 10px; 
	top: 0px; 
	z-index: 2;
}
li.invisible{
	width: 1px;
	height: 1px; 
	z-index: 0;
	list-style-type: none; 
}
li.forward, li.forward1, li.left, li.left1, li.right, li.right1, li.wait, 
li.wait1, li.block, li.if, li.ifelse, li.while, li.for{
	list-style-type: none; 
	margin: 5px; 
	padding: 5px;
	width: 180px; 
	height: 25px;
	border: 1px solid #ffffff;
	color: #363636; 
	z-index: 1;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 6px;
}
li.forward{ background: #A9A9A9 url('../images/forward.png') 5% 95% no-repeat; }
li.forward1{ background: #1CB2B3 url('../images/forward.png') 5% 95% no-repeat; }
li.left{	background: #A9A9A9 url('../images/left.png') 5% 95% no-repeat; }
li.right{ background: #A9A9A9 url('../images/right.png') 5% 95% no-repeat; }
li.left1{ background: #1CB2B3 url('../images/left.png') 5% 95% no-repeat;}
li.right1{ background: #1CB2B3 url('../images/right.png') 5% 95% no-repeat; }
li.wait{ background: #A9A9A9 url('../images/wait.png') 5% 95% no-repeat; }
li.wait1{ background: #1CB2B3 url('../images/wait.png') 5% 95% no-repeat; }
ul.ul_commands{
	padding-left: 5px;
	margin: 0px;
}
ul.sortable{
	width: 250px;
	margin-left: 0px;
	padding-left: 0px;
	padding: 0px;
	border: 2px #A9A9A9 double;
	height: 400px;
	overflow: auto;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 6px;
}
td.wall, td.floor, td.highlightFloor, td.highlightWall{
	width: 30px;
	height: 30px;
	border: 0px;
	margin: 0px; 
	padding: 0px;
	border-spacing: 0px;
}
td.wall{ background-image: url('../images/wall.jpg'); }
td.floor{ background-image: url('../images/floor.jpg'); }
td.highlightWall{ background-image: url('../images/wall__.jpg'); }
td.highlightFloor{ background-image: url('../images/floor__.jpg'); }
div.key, div.lock, div.hero_up, div.hero_down, div.highlightedLock, div.hero_left, div.hero_right, div.star, div.BigStar, div.MiddleStar, div.box, div.monster{	
	width: 100%;
	height: 100%;
	z-index: 2;
}
div.key{ background: url('../images/key.png') 50% 50% no-repeat; }
div.lock{ background: url('../images/lock.png') 50% 50% no-repeat; }
div.highlightedLock{ background: url('../images/highlightedLock.png') 50% 50% no-repeat; }
div.hero_up{ background: url('../images/hero_up.png') 50% 50% no-repeat; }
div.hero_down{ background: url('../images/hero_down.png') 50% 50% no-repeat; }
div.hero_left{ background: url('../images/hero_left.png') 50% 50% no-repeat; }
div.hero_right{ background: url('../images/hero_right.png') 50% 50% no-repeat; }
div.star{ background: url('../images/star.png') 50% 50% no-repeat; }
div.BigStar{ background: url('../images/BigStar.png') 50% 50% no-repeat; }
div.MiddleStar{ background: url('../images/MiddleStar.png') 50% 50% no-repeat; }
div.box{	background: url('../images/box.png') 50% 50% no-repeat; }
div.monster{	background: url('../images/SeaMonster.png') 50% 50% no-repeat; }
div.cons{
	width: 226px;
	border: 2px #A9A9A9 double;
	height: 500px;
	overflow: auto;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 6px;
}
input.spinCnt{
	font-family:'Times New Roman';
	font-size: 1.1em;
	width: 60px; height: 21px; 
	background-color: 
	rgb(255, 255, 255); 
	margin-right: 0px; 
	padding-right: 0px; 
	padding-top: 0px; 
	border-width: 1px; 
	padding-bottom: 0px; 
	top: 0px; left: 0px; 
	display:none; 
	position: inherit;
	z-index: 1;
}
.tabs:after { 
   display: block; 
   clear: both; 
   content: " "; 
}
.ui-tabs-paging-next { 
   float: right !important;
}
.ui-tabs-hide { 
	display: none; 
	background-color: #fff 
}
.ui-tabs-paging-disabled {
	visibility: hidden;
}
.ui-tabs-paging-next, 
.ui-tabs-paging-prev{
	background: transparent !important;
	border: 0 !important;
}